node_modules
.expo
npm-debug.*
yarn-error.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
ormconfig.json
packages/mobile/src/graphql/types.ts
__generated__

# macOS
.DS_Store
