node_modules
.expo
npm-debug.*
yarn-error.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
ormconfig.js
packages/mobile/src/graphql/types.ts
__generated__
.env
serviceAccountKey.json
dist

# macOS
.DS_Store
